body {
   font-family: roboto;
}
/* Шапка*/

/* Top Line*/
.top-line {
   background: #FFFFFF;
}

/* WebStudio */
.logo {
   color: #2196F3;
}
.logo-studio {
   color: #000000;
}

/*nav-site*/
.nav-site {
   color: #212121;
}
.link {
   color: #757575;
}

.nav-site .link:hover,
.nav-site .link:focus {
   color: #2196F3;
}
/*Заголовок*/

.hero {
   background-color: #2F303A;
}
.hero-title {
   color: #FFFFFF;
}
.hero-button {
   background-color: #2196F3;
   color: #FFFFFF;
}
/*Особенности*/
.section {
   background-color: #E5E5E5;
}
.subtitle {
   #212121
}
.text {
   #757575
}
/*Чем мы занимаемся*/
.section-title{
   color: #212121;
}

.list .pic {
   left: 1015px;
   top: 1061px;
}