:root {
   /* Fonts */
   --main-font: "Roboto";
   --secondary-font: "Raleway";

   /* Text colors */
   --primary-white-color: #FFFFFF;
   --primary-black-color: #212121;
   --accent-color: #2196F3;
   --upper-title-text: #757575;
/* Bg colors */
--primary-background-color: #E5E5E5;
--secondary-background-color: #F5F4FA;
}





/* Other */

body {
   font-family: var(--main-font), sans-serif;
   font-size: 14px;
   letter-spacing: 0.03em;
   color: var(--primary-black-color);
}
/* Common styles start */
.link {
   text-decoration: none;
}
.list {
   list-style: none;
}

/* Common styles start */

/* Logo */
.logo {
   font-family: var(--secondary-font), sans-serif;
   color: var(--accent-color);
   font-weight: 700;
   font-family: Raleway;
   line-height: 1.19;
}
.logo-studio-light {
   color: #000000;
}
.logo-studio-dark {
   color: var(--primary-white-color);
}

/* Site nav */
.site-nav .link {
   color: var(--primary-black-color);
   font-weight: 500;
   line-height: 1.14;
   letter-spacing: 0.02em;
}
.site-nav .link:hover, 
.site-nav .link:focus {
   color: var(--accent-color);
}
.site-nav .link.current {
   color: var(--accent-color);
}

.aut-nav .link:hover, 
.aut-nav .link:focus {
   color: var(--accent-color);
}
.aut-nav .current {
   color: var(--upper-title-text);
   font-weight: 500;
   line-height: 1.14;
   letter-spacing: 0.02em;
   text-decoration: none;

}
/* Hero */
.hero {
   background-color: #2F303A;
}
.hero-title {
   
   color: var(--primary-white-color);
   font-weight: 900;
   line-height: 1.36;
   text-align: center;
   letter-spacing: 0.06em;
   text-transform: uppercase;

}

/* Section */
.section-team {
   background-color: var(--secondary-background-color);
}
.section-about,
.section-features {
   background-color: var(--primary-background-color);
}


.section-title {
   color: var(--title-text-color);
   font-weight: 700;
   line-height: 1.14;
   text-transform: uppercase;
}

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}

.section .title {
   color: var(--title-text-color);
   font-weight: 700;
   line-height: 1.14;
   text-transform: uppercase;
}

/* Features */
.features .title {
   color: var(--primary-black-color);
}
.features .text {
      font-weight: 400;
      line-height: 1.71;
      color: var(--upper-title-text);
}

/* Button */
.button {
   color: var(--primary-white-color);
   background-color: var(--accent-color);
   font-style: normal;
   font-weight: 700;
   line-height: 1.87;
   display: flex;
   align-items: center;
   text-align: center;
   letter-spacing: 0.06em;
}
.button:hover,
.button:focus {
   color: var(--primary-white-color);
   cursor: pointer;
}

.filters {
   font-weight: 500;
   line-height: 1.62;
   text-align: center;
   background-color: var(--secondary-background-color);
   color: var(--primary-black-color);
}


.filters-button:hover,
.filters-button:focus {
   background-color: var(--accent-color);
   color: var(--primary-white-color);
   cursor: pointer;
}


/* User */

.user-list .title {
   color: var(--primary-black-color);
}
.user-list .text {
   color: var(--upper-title-text);
}

/* Footer */
.footer {
   background-color: #2F303A;
}
.footer-address {
   font-weight: 400;
   line-height: 1.71;
   font-style: normal;
}
.footer-address-link {
   color: var(--primary-white-color);
}
.aut-address {
   color: rgba(255, 255, 255, 0.6);
}

.aut-address:hover,
.aut-address:focus {
   color: rgba(255, 255, 255, 0.6);
}
/* Project */
.project {
   background-color: var(--primary-background-color);
}

.project-text {
   color: var(--primary-black-color);
   font-weight: 700;
   line-height: 2;
   letter-spacing: 0.06em;
}
.project-uppertitle {
   color: var(--upper-title-text);
   font-weight: 400;
   line-height: 1.87;
}





























