:root {
   /* Fonts */
   --main-font: "Roboto";
   --secondary-font: "Raleway";

   /* Text colors */
   --primary-white-color: #FFFFFF;
   --primary-black-color: #212121;
   --accent-color: #2196F3;
}

/* Bg colors */

/* Other */

body {
   font-family: var(--main-font), sans-serif;
   font-size: 14px;

}
/* Common styles start */
.link {
   text-decoration: none;
}
.list {
   list-style: none;
}




/* Common styles start */

/* Logo */
.logo {
   color: var(--accent-color);
   font-family: Raleway;
   font-size: 26px;
   line-height: 31px;
}
.logo-studio-light {
   color: #000000;
}
.logo-studio-dark {
   color: var(--primary-white-color);
}

/* Site nav */
.site-nav .link {
   color: var(--primary-black-color);
   font-weight: 500;
   font-size: 14px;
   line-height: 16px;
   letter-spacing: 0.02em;
}
.site-nav .link:hover, 
.site-nav .link:focus {
   color: var(--accent-color);
}
.site-nav .link.current {
   color: var(--accent-color);
}

.aut-nav .link:hover, 
.aut-nav .link:focus {
   color: var(--accent-color);
}
.aut-nav .current {
   color: #757575;
   font-weight: 500;
   font-size: 14px;
   line-height: 16px;
   letter-spacing: 0.02em;
   text-decoration: none;

}
/* Hero */
.hero {
   background-color: #2F303A;
}
.hero-title {
   
   color: var(--primary-white-color);
   font-weight: 900;
   font-size: 44px;
   line-height: 60px;
   text-align: center;
   letter-spacing: 0.06em;
   text-transform: uppercase;

}

/* Section */
.section-title {
   color: var(--title-text-color);
   font-weight: 700;
   font-size: 14px;
   line-height: 16px;
   letter-spacing: 0.03em;
   text-transform: uppercase;
}

.section .title {
   color: var(--title-text-color);
   font-weight: 700;
   font-size: 14px;
   line-height: 16px;
   letter-spacing: 0.03em;
   text-transform: uppercase;
}

/* Features */
.features .title {
   color: var(--primary-black-color);
}
.features .text {
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.03em;
      color: #757575;

}

/* Button */
.button {
   color: var(--primary-white-color);
   background-color: var(--accent-color);
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 30px;
   display: flex;
   align-items: center;
   text-align: center;
   letter-spacing: 0.06em;
}


.button.primary {

}

.button.secondary {

}

/* User */

.user-list .title {
   color: var(--primary-black-color);
}
.user-list .text {
   color: #757575;
}

/* Footer */
.footer-address {
   font-weight: 400;
   font-size: 14px;
   line-height: 24px;
   letter-spacing: 0.03em;
}































